
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>


  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a class = "linkk" href="/posts/<%=post._id %> ">Read More</a>
    <a class = "linkk" href="/delete/<%=post._id %> ">Delete</a>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
